<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body class="bg-gray-800">
    <div class="container px-2 mx-auto px-4">
      <div class="w-full mx-auto flex flex-wrap mt-10 mb-20">
        <form
          id="add-issue-form"
          class="bg-gray-100 shadow-md xs:max-w-full lg:max-w-sm rounded px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="issue_title"
            >
              Title
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="issue_title"
              name="issue_title"
              required
              type="text"
              placeholder="Issue title"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="issue_text"
            >
              Description
            </label>
            <textarea
              class="shadow appearance-none resize-none h-48 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              name="issue_text"
              placeholder="Issue description"
            ></textarea>
          </div>
          <div class="flex flex-wrap mb-4 -mx-3">
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="created_by"
              >
                Created By
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="created_by"
                type="text"
                required
                placeholder="Created By"
              />
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="assigned_to"
              >
                Assigned to
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="assigned_to"
                type="text"
                placeholder="Assigned to (opt)"
              />
            </div>
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="status_text"
            >
              Status Text
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="status_text"
              name="status_text"
              type="text"
              placeholder="Status Text (opt)"
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Submit Issue
            </button>
          </div>
        </form>
        <form
          id="update-issue-form"
          class="bg-gray-100 shadow-md xs:max-w-full lg:max-w-sm lg:ml-4 rounded px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="update_task_id"
            >
              Task Id
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="update_task_id"
              name="id"
              required
              type="text"
              placeholder="Id of the task"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="update_issue_title"
            >
              Title
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="update_issue_title"
              name="issue_title"
              type="text"
              placeholder="Issue title"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="update_issue_text"
            >
              Description
            </label>
            <textarea
              class="shadow appearance-none resize-none h-48 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="update_issue_text"
              name="issue_text"
              placeholder="Issue description"
            ></textarea>
          </div>
          <div class="flex flex-wrap mb-4 -mx-3">
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="update_status_text"
              >
                Status Text
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="update_status_text"
                name="status_text"
                type="text"
                placeholder="Status Text (opt)"
              />
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="update_assigned_to"
              >
                Assigned to
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="update_assigned_to"
                name="assigned_to"
                type="text"
                placeholder="Assigned to (opt)"
              />
            </div>
          </div>
          <div class="mb-6 flex items-baseline">
            <input type="checkbox" checked class="mr-2" name="open" id="open" />
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="open"
            >
              Open
            </label>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Update Issue
            </button>
          </div>
        </form>
        <div
          class="bg-gray-100 h-48 max-w-md shadow-md rounded px-8 pt-6 pb-8 mb-4 xl:ml-4 w-full ml-0"
        >
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id">
              Delete a task by ID
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="id"
              name="id"
              type="text"
              placeholder="Enter Task Id"
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-orange-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              id="delete"
              type="button"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div
        id="issues"
        class="grid md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 gap-4"
      ></div>
    </div>
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>
